global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['localhost:9100']    # if node-exporter is host-networked on VM

  - job_name: 'backend'
    metrics_path: /metrics
    static_configs:
      - targets: ['localhost:3000']
