version: '3.9'
services:
  backend:
    image: ${ACR_LOGIN_SERVER}/stock-backend:latest
    container_name: stock-backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
  frontend:
    image: ${ACR_LOGIN_SERVER}/stock-frontend:latest
    container_name: stock-frontend
    restart: unless-stopped
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus-data:/prometheus
      - ../monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    pid: "host"
    network_mode: "host"
