version: "3.8"

services:
  frontend:
    image: 135976031386.dkr.ecr.ap-south-1.amazonaws.com/stock-frontend:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    image: 135976031386.dkr.ecr.ap-south-1.amazonaws.com/stock-backend:latest
    restart: always
    ports:
      - "5000:5000"


  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    pid: "host"
    network_mode: bridge
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points="^/(sys|proc|dev)($|/)"'

  cadvisor:
    image: gcr.io/google-containers/cadvisor:latest
    container_name: cadvisor
    restart: always
    network_mode: bridge
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  prometheus-data:
  grafana-data:

