version: "3.9"

services:
  mongodb:
    image: mongo:4.4
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5008:5008"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongo_data:
